<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center mb-3">
        <img src="https://avatars.githubusercontent.com/u/145856449?v=4" id="rotateIcon" class="w-25 rounded-circle border border-3 shadow-lg" />
    </div>



    <div class="col-12">
        <h1 class="fw-bold">About</h1>
        <div id="fadeIn" class="card card-body text-bg-dark border-light mb-3">
            <div class="text-decoration-underline fw-bold fs-5">私について</div>
            <div class="fs-6">熊が好きなただの一般人です</div>
            <div class="fs-6">プログラミング初心者なので、だれか教えてください</div>
        </div>
        <div id="fadeIn" class="card card-body text-bg-dark border-light mb-3">
            <div class="text-decoration-underline fw-bold fs-5">このサイトについて</div>
            <div class="fs-6">基本的にJavaScriptで作りました</div>
            <div class="fs-6">そのうちFirebaseを使って面白いことします</div>
            <div class="fs-6">多分動的サイトになると思う</div>
        </div>
        <div id="fadeIn" class="card card-body text-bg-dark border-light mb-3">
            <div class="text-decoration-underline fw-bold fs-5">趣味</div>
            <div class="fs-6">音ゲーとか、パソコンかちゃかちゃするの好きです</div>
        </div>
    </div>

    <hr>

    <div class="col-12">
        <div id="fadeIn" class="card card-body text-bg-dark border-light mb-3">
            <div class="text-decoration-underline fw-bold fs-5">GitHub</div>
            <a href="https://github.com/CHACCHAN" class="fs-6" target="_blank">GitHubはここからアクセス</a>
        </div>
    </div>
</div>