<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <img src="https://avatars.githubusercontent.com/u/145856449?v=4" id="rotateIcon" class="w-25 rounded-circle border border-3 shadow-lg" />
    </div>



    <div class="col-12 border-top d-flex pt-3 mt-3">
        <div id="fadeIn" class="card me-1 w-100">
            <div class="card-header py-1">
                <h4 class="fw-bold m-0">自己紹介</h4>
            </div>
            <div class="card-body p-1">
                <ul>
                    <li class="fw-bold">名前</li>
                    <p class="text-secondary">中山裕哉</p>
                    <li class="fw-bold">一言</li>
                    <p class="text-secondary">プログラミング初心者です。</p>
                </ul>
            </div>
        </div>
        <div id="fadeIn" class="card ms-1 w-100">
            <div class="card-header py-1">
                <h4 class="fw-bold m-0">出身</h4>
            </div>
            <div class="card-body p-1">
                <ul>
                    <li class="fw-bold">都道府県</li>
                    <p class="text-secondary">埼玉県</p>
                    <li class="fw-bold">市区町村</li>
                    <p class="text-secondary">春日部市</p>
                </ul>
            </div>
        </div>
    </div>



    <div class="col-12 d-flex mt-3">
        <div id="fadeIn" class="card me-1 w-100">
            <div class="card-header py-1">
                <h4 class="fw-bold m-0">GitHub</h4>
            </div>
            <div class="card-body p-1">
                <ul>
                    <li class="fw-bold">GitHubのリンクはこちら</li>
                    <a href="https://github.com/CHACCHAN" target="_blank">クリック</a>
                </ul>
            </div>
        </div>
    </div>
</div>