<div class="row">
    <div class="col-12 col-md-4">
        <div class="card card-body bg-dark border-light mb-3">
            <div class="d-flex align-items-center justify-content-center mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
                <div class="ms-1 fw-bold">スレッド作成</div>
            </div>
            <div class="mb-3">
                <label for="newThreadTitle" class="form-label m-0">タイトルを入力してください</label>
                <input type="text" id="newThreadTitle" class="form-control text-bg-dark border-secondary" />
            </div>
            <div class="mb-3">
                <label for="newThreadDetail" class="form-label m-0">説明を入力してください</label>
                <textarea id="newThreadDetail" class="form-control text-bg-dark border-secondary" style="height: 43px; resize: none;" oninput="inputTextArea(event)"></textarea>
                <div id="newThreadError" class="text-danger d-none">*タイトルと説明は必須です</div>
            </div>
            <div class="mb-1">
                <div class="text-end">
                    <button 
                        class="btn btn-primary rounded-pill" 
                        onclick="db_store_newThread(event, 'newThreadTitle', 'newThreadDetail', 'newThreadError')"
                        >作る
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="col-12 col-md-8">
        <div id="chatListView" class="">
            <div class="mb-1">スレッド一覧(作成順)</div>
            <div id="chatList">

            </div>
        </div>
        <div id="chatView" class="d-none mb-3">
            <div class="mb-1 text-decoration-underline" onclick="db_open_thread('chatListView', 'chatView')">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>   スレッド一覧に戻る
            </div>
            <div id="chatContent" class="card card-body text-bg-dark border-light rounded-0 rounded-top overflow-auto" style="height: 75vh;"></div>
            <div id="chatInput">
                <div class="card card-body text-bg-dark border-light rounded-0 rounded-bottom">
                    <div class="row">
                        <div class="col-10">
                            <textarea id="chatInputArea" class="text-bg-dark rounded-3 border-0 w-100" rows="2" style="resize: none; outline: none;" placeholder="メッセージを入力"></textarea>
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-end">
                            <button class="btn btn-primary rounded-circle p-2" onclick="db_store_newMessage(event, 'chatInputArea')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>