<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="text-center fw-bold">
        <h1 id="titleIn" class="m-0 d-none d-md-block" style="font-size: 60px;">The Interesting</h1>
        <h1 id="titleIn" class="m-0 d-block d-md-none" style="font-size: 40px;">The Interesting</h1>
        <h1 id="titleIn" class="text-primary d-none d-md-block" style="font-size: 60px;">Hobby Home Page</h1>
        <h1 id="titleIn" class="text-primary d-block d-md-none" style="font-size: 40px;">Hobby Home Page</h1>
        <p class="text-secondary m-0 mt-3">Vue.jsってクライアントサイドでレンダリングするからCPUが弱いと重いんだよね...</p>
        <p class="text-secondary m-0">SSRができるNuxt.js Next.js素敵!ちなみに好きなバックエンドサーバーはLaravelです(にこにこ)</p>
        <div class="d-flex justify-content-center mt-3">
            <button id="buttonScaleIn" class="btn btn-primary me-2" onclick="isGetStarted()">Get Started</button>
            <button id="buttonScaleIn" class="btn btn-dark border ms-2" onclick="isAboutMe()">About Me</button>
        </div>
    </div>
</div>